<nb-card>
  <nb-card-body>
    <div class="list-objects" *ngIf="isFolder">
      <div class="folder">
        Default
      </div>
      <div class="folder" *ngFor="let folder of folders">
        {{ folder.name }}
        <div class="folder-select">
          <div class="folder-remove">
            <div class="folder-remove-button" (click)="removeFolder(folder)">Remove</div>
          </div>
          <div class="folder-edit">
            <div class="folder-edit-button" (click)="editSelectedFolder(folder)">Edit</div>
          </div>
        </div>
      </div>
    </div>
    <div class="list-objects" *ngIf="isBlock || isTemplate || isBlockBuilder">
          <nb-accordion>
            <nb-accordion-item [expanded]="group.expand" [disabled]="accordionDisabled" *ngFor="let group of listObjects.data">
              <nb-accordion-item-header>
                {{ group.title }}
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <div class="block-builder" *ngIf="isBlockBuilder || isBlock">
                  <div class="main-block-builder">
                    <div class="row block" *ngFor="let item of group.object">
                      <div class="col-12 block-template">
                        <div class="block-body" [innerHtml]="item.html" ></div>
                        <div class="select-block">
                          <div class="copy-button" [ngClass]="{'button-one': !isBlockBuilder}" (click)="copyBaseBlock(item)"><i class="fa fa-clone" aria-hidden="true"></i>Copy</div>
                          <div *ngIf="isBlockBuilder" class="edit-button" (click)="editBaseBlock(item)"><i class="fa fa-pencil" aria-hidden="true"></i>Edit</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
    </div>
    <div class="folder-control" *ngIf="isFolder">
      <input type="text" nbInput fullWidth status="info" placeholder="Folder Name" [formControl]="folderInput">
      <button [hidden]="!showAddFolder" nbButton status="primary" (click)="addFolder()">Add</button>
      <button [hidden]="!showEditFolder" nbButton status="success" (click)="editFolder()">Edit</button>
      <button [hidden]="!showCancelFolder" nbButton status="danger" (click)="cancelFolder()">X</button>
    </div>
  </nb-card-body>
</nb-card>
