.list-objects {
  .folder {
    &:hover .folder-select  {
      visibility: visible;
    }

    margin: 5px 0;
    padding: 5px 0;
    cursor: default;
    position: relative;

    .folder-select {
      visibility: hidden;
      cursor: default;
      height: 100%;
      width: 100%;
      background-color: rgba(120, 120, 120, 0.7);
      position: absolute;
      left: 0;
      top: 0;

      .folder-remove {
        &:hover {
          background-color: #e75d5d;
        }
        background-color: #464646;
        position: absolute;
        float: left;
        z-index: 2;
        text-align: center;
        color: white;
        left: 35%;
        top: 50%;
        width: 80px;
        height: 22px;
        margin-left: -60px;
        margin-top: -11px;

        .folder-remove-button {
          text-align: center;
          width: 80px;
          height: 20px;
          cursor: pointer;
        }
      }

      .folder-edit {
        &:hover {
          background-color: #556B8D;
        }

        background-color: #464646;
        position: absolute;
        float: left;
        z-index: 2;
        text-align: center;
        color: white;
        left: 70%;
        top: 50%;
        width: 80px;
        height: 22px;
        margin-left: -60px;
        margin-top: -11px;

        .folder-edit-button {
          text-align: center;
          width: 80px;
          height: 20px;
          cursor: pointer;
        }
      }
    }
  }

  .block-builder {
    zoom: 40% !important;
    -moz-transform: scale(0.40) !important;
    -moz-transform-origin: 0 0;

    tr.block {
      &:hover .select-block {
        visibility: visible!important;
      }

      position: relative;
      padding-top: 20px;
      padding-bottom: 20px;
      display: block;
      height: 100%;
      border-bottom: solid;
      border-bottom-width: 1px;
      border-bottom-color: #edf1f7;
      border-collapse: separate;
      min-width: 700px;

      .block-template {
        .copy-button, .edit-button {
          &:hover {
            background-color: black;
            cursor: pointer;
          }

          height: 90px;
          width: 245px;
          background-color: #464646;
          position: absolute;
          left: 30%;
          top: 40%;
          float: left;
          padding-top: 10px;
          margin-top: -5px;
          margin-left: -70px;
          z-index: 2;
          text-align: center;
          font-size: 60px;
          color: white;
        }

        .edit-button {
          left: 65%;
        }

        .select-block {
          visibility: hidden;
          cursor: default;
          height: 100%;
          width: 100%;
          background-color: rgba(224, 224, 224, 0.7);
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.folder-control {
  padding: 5px 0 20px;
  display: flex;
  position: relative;

  input {
    float: left;
    width: 100%;
    border: 1px solid #c4c4c4;
    background-color: #fff;
    color: #565a5c;
    padding-bottom: 5px;
    padding-top: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  button {
    margin: 0;
    padding: 5px 10px!important;
    border-radius: 0;
    font-size: 12px;
    font-weight: normal;
  }
}
