<nb-layout id="tb-layout">
  <nb-layout-column class="tb-sidebar">
    <nb-card class="card-tb-buttons">
      <nb-card-body class="tb-buttons">
        <button nbButton fullWidth status="primary">Create Template</button>
        <button nbButton fullWidth status="success">Create Base Block</button>
        <nb-list>
          <nb-list-item class="active">Templates</nb-list-item>
          <nb-list-item>Blocks</nb-list-item>
          <nb-list-item>Template folders</nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="tb-listing">
    <nb-card>
      <nb-card-body>
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Header
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Body
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-accordion-item-body>
          </nb-accordion-item>
          <nb-accordion-item>
            <nb-accordion-item-header>
              Footer
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
              Originally, nebula was a name for any diffuse astronomical object,
              including galaxies beyond the Milky Way.
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="tb-view">
    <nb-card>
      <nb-card-header>

      </nb-card-header>
      <nb-card-body>
        <textarea rows="10" nbInput fullWidth placeholder="Textarea"></textarea>
      </nb-card-body>
      <nb-card-footer>

      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
