<nb-layout id="tb-layout">
  <nb-layout-column class="tb-sidebar">
    <nb-card class="card-tb-buttons">
      <nb-card-body class="tb-buttons">
        <div class="tb-button">
          <button nbButton fullWidth status="primary">Create Template</button>
        </div>
        <nb-list>
          <nb-list-item *ngFor="let item of menuList" (click)="clickMenu(item)" [ngClass]="{active: isActive(item)}">
            {{ item.title }}
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column class="tb-listing">
    <app-list-objects></app-list-objects>
  </nb-layout-column>
  <nb-layout-column class="tb-view">
    <app-template></app-template>
  </nb-layout-column>
</nb-layout>
