<nav id="sidebar" class="sidebar sidebar-offcanvas">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" routerLink="/dashboard" routerLinkActive="active" aria-expanded="false" aria-controls="dashboard-dropdown">
        <i class="mdi mdi-clipboard-text-outline menu-icon"></i>
        <span class="menu-title">Dashboard</span>
        <i class="menu-title"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="mdi mdi-chart-donut menu-icon"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/morris.html">Morris</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/flot-chart.html">Flot</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/google-charts.html">Google charts</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/sparkline.html">Sparkline js</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/c3.html">C3 charts</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartist.html">Chartists</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/charts/justGage.html">JustGage</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#general-settings" aria-expanded="false" aria-controls="general-pages">
        <i class="mdi mdi-file-outline menu-icon"></i>
        <span class="menu-title">General Settings</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="general-settings">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" routerLink="./basic" routerLinkActive="active"> Basic </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="./department" routerLinkActive="active"> Department </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="./smtp" routerLinkActive="active"> Website SMTP </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="./regional" routerLinkActive="active"> Regional settings </a></li>
          <li class="nav-item"> <a class="nav-link" routerLink="./daemons" routerLinkActive="active"> Coin Daemons </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#apps" aria-expanded="false" aria-controls="apps">
        <i class="mdi mdi-cube-outline menu-icon"></i>
        <span class="menu-title">Apps</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="apps" style="">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/apps/email.html"> Email </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/apps/calendar.html"> Calendar </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/apps/todo.html"> Todo List </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/apps/gallery.html"> Gallery </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pages/documentation/documentation.html">
        <i class="mdi mdi-file-document-box-outline menu-icon"></i>
        <span class="menu-title">Documentation</span>
      </a>
    </li>
  </ul>
</nav>
