@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap-grid";
@import "_variables";

$topnav-background-color: #222;

body {
  color: $text-basic-color;
  font-family: $text-paragraph-font-family;
  font-size: $text-paragraph-font-size;
  font-weight: $text-paragraph-font-weight;
  line-height: $text-paragraph-line-height;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $text-basic-color;
}

p, .paragraph {
  color: $text-basic-color;
  font-family: $text-paragraph-font-family;
  font-size: $text-paragraph-font-size;
  font-weight: $text-paragraph-font-weight;
  line-height: $text-paragraph-line-height;
}

.paragraph-2 {
  color: $text-basic-color;
  font-family: $text-paragraph-2-font-family;
  font-size: $text-paragraph-2-font-size;
  font-weight: $text-paragraph-2-font-weight;
  line-height: $text-paragraph-2-line-height;
}

.user-avatar {
  border: 3px solid #FFF;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.topnav{
  border-radius: 0;
  background-color: $topnav-background-color;
  padding : 6px;
  z-index:2;
  .text-center{
    text-align: center;
    padding-left : 0;
    cursor: pointer;
  }
  .top-right-nav{
    .buy-now{
      a{
        color:#999;
      }
    }
    .dropdown-menu{
      top: 40px;
      right: -5px;
      left : auto;
      .message-preview{
        .media{
          .media-body{
            .media-heading{
              font-size: 14px;
              font-weight: bold;
              margin-bottom : 0;
            }
            p{
              margin : 0;
            }
            p.last{
              font-size : 13px;
              margin-bottom: 0;
            }
          }
        }
      }
      hr {
        margin-top: 1px;
        margin-bottom: 4px;
      }
    }
  }

}

a:hover{
  text-decoration: none;
}

.bg-white {
  background: #fff;
}

.main-container{
  margin: 50px 0 0 225px;
  padding: 10px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  position: relative;
}

.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: $topnav-background-color;
  text-align: center;
  color: #fff;
  padding: 3em;

  .col-lg-4{
    padding :0;
  }

  .input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 0;
  }

  .input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid rgba(255,255,255,.5);
    color: #FFF;
    border-radius: 0;
  }

  .input-underline:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
  }

  .rounded-btn{
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255,255,255,0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255,255,255,0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
  }

  .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
    color: rgba(255,255,255,1);
    border: 2px solid rgba(255,255,255,1);
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255,255,255,0.7);
    }
  }

  .form-control-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
      color: rgba(255,255,255,0.6) !important;
    }

    input:-moz-placeholder { /* Firefox 18- */
      color: rgba(255,255,255,0.6) !important;
    }

    input::-moz-placeholder {  /* Firefox 19+ */
      color: rgba(255,255,255,0.6) !important;
    }

    input:-ms-input-placeholder {
      color: rgba(255,255,255,0.6) !important;
    }
  }
  .form-content {
    padding: 40px 0;
  }
}

.nb-card {
  flex-direction: row;
  align-items: center;
  overflow: visible;

  background-color: $card-background-color;
  border: $card-border-width $card-border-style $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;

  color: $card-text-color;
  font-family: $card-text-font-family;
  font-size: $card-text-font-size;
  font-weight: $card-text-font-weight;
  line-height: $card-text-line-height;
  margin-bottom: $card-margin-bottom;

  .icon-container {
    height: 100%;
    padding: 0.625rem;
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.75rem;
    height: 4.75rem;
    font-size: 3.75rem;
    border-radius: 0.25rem;
    transition: width 0.4s ease;
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    color: #192038;
  }

  &.off {
    color: $text-hint-color;

    .status,
    .title,
    .icon {
      color: $text-hint-color;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-left: 1px solid transparent;
  }

  .title {
    margin: 0;
  }

  .status {
    text-transform: uppercase;
  }

  .nb-card-header {
    padding: $card-padding;
    border-bottom: $card-divider-width $card-divider-style $card-divider-color;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;

    color: $card-header-text-color;
    font-family: $card-header-text-font-family;
    font-size: $card-header-text-font-size;
    font-weight: $card-header-text-font-weight;
    line-height: $card-header-text-line-height;
  }

  .nb-card-body {
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow: auto;
    padding: $card-padding;
    position: relative;
  }

  .nb-card-footer {
    padding: $card-padding;
    border-top: $card-divider-width $card-divider-style $card-divider-color;
    border-bottom-left-radius: $card-border-radius;
    border-bottom-right-radius: $card-border-radius;
  }
}
