<nb-card>
  <nb-card-header>Department</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
  </nb-card-body>
  <nb-card-footer>
    <p>Total users: {{source.count()}}</p>
  </nb-card-footer>
</nb-card>
<!--<div class="nb-card">-->
<!--  <div class="nb-card-header">-->
<!--    Department-->
<!--  </div>-->

<!--  <div class="nb-card-body">-->
<!--    <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>-->
<!--  </div>-->

<!--  <div class="nb-card-footer">-->
<!--    <p>Total users: {{source.count()}}</p>-->
<!--  </div>-->
<!--</div>-->
