<nb-card class="tpl-builder">
  <nb-card-header>
    <div *ngIf="!isInitial">
      <div class="row" *ngIf="isBlockBuilder">
        <div class="col-sm-6 col-md-6">
          <label>Select Block Type:</label>
          <nb-select [(selected)]="selectedBlockType" fullWidth (selectedChange)="changeBlockType($event)">
            <nb-option value="0">Header</nb-option>
            <nb-option value="1">Body</nb-option>
            <nb-option value="2">Footer</nb-option>
          </nb-select>
        </div>
        <div class="col-sm-6 col-md-6">
          <label>Select Style:</label>
          <nb-select disabled fullWidth selected="0">
            <nb-option value="0">Standard</nb-option>
            <nb-option value="1">Metro</nb-option>
            <nb-option value="2">Modern</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="row" *ngIf="isTemplateBuilder">
        <div class="col-sm-4 col-md-4">
          <label>Template Folder:</label>
          <nb-select [(selected)]="template.folder" fullWidth (selectedChange)="updateTemplateFolder($event)">
            <nb-option [value]="folder.id" *ngFor="let folder of allFolders">{{ folder.name }}</nb-option>
          </nb-select>
        </div>
        <div class="col-sm-4 col-md-4">
          <label for="template-name">Template Name:</label>
          <input [value]="template.name" type="text" id="template-name" nbInput fullWidth fieldSize="small" placeholder="Input">
        </div>
        <div class="col-sm-4 col-md-4">
          <label>Send Template When:</label>
          <nb-select fullWidth [(selected)]="template.trigger" (selectedChange)="updateTemplateTrigger($event)">
            <nb-option [value]="trigger.id" *ngFor="let trigger of allTriggers">{{ trigger.name }}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="row" *ngIf="isTemplateBuilder">
        <div class="col-sm-12 col-md-12">
          <label for="template-subject">Template Subject:</label>
          <input [value]="template.subject" type="text" id="template-subject" nbInput fullWidth fieldSize="small" placeholder="Input">
        </div>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="isInitial">
      <div class="empty-block-preview" *ngIf="blockTemplateIsEmpty">Template is empty! Please select block from blocks section.</div>
    </div>
    <div *ngIf="isBlockBuilder && !isInitial">
      <textarea nbInput fullWidth rows="15" wrap="hard" class="block-code-editor" [(ngModel)]="blockTemplateContent"></textarea>
      <div class="block-preview">
        <div class="empty-block-preview" *ngIf="blockTemplateIsEmpty">Block is empty. All that you type in the editor will be displayed here.</div>
        <div class="not-empty-block-preview" *ngIf="!blockTemplateIsEmpty">
          <div id="block-template" [innerHtml]="blockTemplateContent"></div>
        </div>
      </div>
    </div>
    <div *ngIf="isTemplateBuilder && !isInitial">
      <div class="template-preview">
        <div class="empty-block-preview" *ngIf="blockTemplateIsEmpty">Template is empty. Please select block from blocks section.</div>
        <div class="not-empty-block-preview" *ngIf="!blockTemplateIsEmpty">
          <div id="template" cdkDropList (cdkDropListDropped)="drop($event)">
            <div class="template-builder-block" cdkDrag *ngFor="let block of template.baseBlockLinks">
              <div class="block-template" [innerHTML]="block.html"></div>
              <div id="edit-button" class="block-code-button visibility-block">
                <div class="module-code-button prevent-selection">
                  <div class="code-button" *ngIf="!isTemplateBlockEdit(block.id)" (click)="editTemplateBlock(block.id)"></div>
                  <div class="save-code-button" *ngIf="isTemplateBlockEdit(block.id)" (click)="applyTemplateBlock(block.id)"></div>
                </div>
              </div>
              <div id="delete-button" class="block-delete-button visibility-block">
                <div class="module-delete-button prevent-selection">
                  <div class="delete-button"></div>
                </div>
              </div>
              <div id="dragdrop-button" class="block-dragdrop-button visibility-block">
                <div class="module-dragdrop-button prevent-selection">
                  <div class="dragdrop-button" cdkDragHandle></div>
                </div>
              </div>
              <div class="block-code-editor" *ngIf="isTemplateBlockEdit(block.id)">
                <textarea nbInput fullWidth rows="15" wrap="off" class="block-code-editor" [(ngModel)]="block.html"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
      <div class="buttons-row align-items-center justify-content-end" *ngIf="isBlockBuilder && !isInitial">
        <button nbButton status="warning" class="pull-right"><nb-icon icon="alert-triangle-outline"></nb-icon>Delete Base Block</button>
        <button nbButton status="danger" class="pull-left" (click)="resetBaseBlock()"><nb-icon icon="trash-outline"></nb-icon>Reset</button>
        <button nbButton status="success" class="pull-right" (click)="updateBaseBlock()"><nb-icon icon="edit-outline"></nb-icon>Update</button>
      </div>
      <div class="buttons-row align-items-center justify-content-end" *ngIf="isTemplateBuilder && !isInitial">
        <button nbButton status="danger" class="pull-left"><nb-icon icon="copy-outline"></nb-icon>Copy and create new template</button>
        <button nbButton status="success" class="pull-right"><nb-icon icon="edit-outline"></nb-icon>Update</button>
      </div>
  </nb-card-footer>
</nb-card>
